/* Selector {
    property: value;
} */

* {
    text-align: right;
}

body {
    background-image: url(img/javier-allegue-barros-C7B-ExXpOIE-unsplash.jpg);
    background-size: cover;
}

h2 + p:hover {
    color: #AA3939;
    text-align: center;
    /* border: 5px dashed purple; */
    /* border: 5px solid purple; */
    /* border: 5px solid rgb(255, 170, 170); */
    border: 5px solid rgba(255, 170, 170, 0.5);
    cursor: pointer;
}

p {
    color: purple;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed rgba(255, 170, 170, 0.5);
}

.active {
    color: pink;
}

#div1 {
    background: rgba(0, 0, 255, 0.2);
}

#div2 {
    background: rgba(255, 0, 0, 0.2);
}